<div class="about-page">
    <div class="line">
        <h2>
            Is this an official website?
        </h2>
        <h4>
            No. This is an independently developed website.
        </h4>
    </div>

    <div class="line">
        <h2>
            Who owns this website?
        </h2>
        <h4>
            This website has been designed and developed by Suyog Ghinmine, with the data retrieved from third party
            sources.
        </h4>
    </div>

    <div class="line">
        <h2>
            Where does the data come from?
        </h2>
        <h4>
            The data for all graphs and numbers has been retrieved from
            <a href="https://about-corona.net" target="_blank">
                https://about-corona.net/</a>
        </h4>
    </div>

    <div class="line">
        <h2>
            Is the source reliable?
        </h2>
        <h4>
            Although the <a target="_blank" href="https://about-corona.net">source</a> is updated from time to time, it
            is still not
            advisable to consider any information completely
        </h4>
    </div>

    <div class="line">
        <h2>
            Why is this a custom domain?
        </h2>
        <h4>
            This project has been independently hosted on one of the domains that the developer owns. This is not an
            official website in anyway. And the data here is more for representaional purposes and in no way should be
            trusted over official statistics.
        </h4>
    </div>

    <div class="line">
        <h2>
            Can I reuse parts of this website?
        </h2>
        <h4>
            Feel free to use the code for this website. You can find the Github project
            <a target="_blank" href="https://github.com/ghinminesuyog/covid19">here</a>
        </h4>
    </div>
</div>