<div class="resources-content">
    <h1>
        The objective of this website is to help people gain access to information. However, it is advised to use
        discretion
        and verify all data on the internet on your own.
    </h1>

    <h1>
        For WHO guidelines on Covid-19, visit :
        <a target="_blank" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">
            https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public</a>.
    </h1>


    <h1>
        For guidelines by Government of India, visit :
        <a target="_blank" href="https://www.mohfw.gov.in/">
            https://www.mohfw.gov.in/</a>.
    </h1>

    <h1>
        Feel free to reach out to <a target="_blank" href="mailto:contact@suyog.dev">contact@suyog.dev</a>.
    </h1>
</div>